 body{
  background:White;
} 
button {
    margin:20px;
    padding:10px 35px;
    border: none;
    border-radius: 5px;
    background: #3caefa;
    color:white;
    
}
input{
     margin:20px;
    padding:10px 20px;
    border: none;
    border-radius: 5px;
    background: Gainsboro;
    color:black; 

}

.triangulo-arriba {
     width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 150px solid grey;
}


.triangulo-abajo {
     width: 0;
height: 0;
border-left: 50px solid transparent;
border-right: 100px solid transparent;
border-top: 150px solid grey;
}



.pasillo {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.button1 {background-color: #4CAF50;} /* Green */